#app__referral-bg{
    background:
        linear-gradient(rgba(0,0,0,0)0%, rgba(0, 168, 28, 0.5)100%),
        url('../../../assets/lets_talk.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}


.app__homereferrals{
    flex: 1;
    min-width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    @media screen and(max-width: 1180px){
        min-height: 50vh;
        }
        
        @media screen and(max-width: 450px){
        min-height: 60vh;
        }

    .app__homeref-content{
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translateY(-50%, -50%);

        .btn-center-ref{
            display: flex;
            justify-content: center;
            align-items: center;
        }
         
        .home-ref-headteat{
            color: white;
            font-size: 40px;
            text-transform: capitalize;
            font-family: var(--font-heading);
            line-height: 50px;
        }
    
        .home-ref-pteat{
            margin: 10px 0 40px;
            text-transform: capitalize;
            font-size: 16px;
            font-family: var(--font-subheading);
            letter-spacing: 2px;
            font-weight: 600;
            padding-top: 10px;
            padding-bottom: 30px;
            color: azure;
        }

        @media screen and(max-width: 450px) {
            padding: 0 25px 0 25px;


            .home-ref-headteat{
                font-size: 35px;
            }
            
        }
       
    }
   
}