.app__contact-main{
    min-width: 100%;
   
    

    .app__contact-bgH{
        width: 100%;
        height: 50vh;
        background:
        linear-gradient(rgba(0,0,0,0)0%, rgba(0, 168, 28, 0.5)100%),
        url('../../assets/cray_fish.jpg');  
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10%;
        background-attachment: fixed;

        @media screen and(max-width: 1180px){
            height: 30vh;
            
        }
        
      }
}


.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
    
    
    @media screen and(max-width: 1180px){
        padding: 10px 50px;
        
    }
    @media screen and(max-width: 450px){
        padding: 20px 20px;
        
    }


    .contact{
        padding: 40px;
        background: white filter blur(5px);
        box-shadow: 0 5px 35px rgba(0, 104, 40, 0.10);
        margin-top: 50px;
        margin-bottom: 50px;

        @media screen and(max-width: 1200px) {
                
            padding: 0;
            margin-bottom: 10px;
           
            
        }

        

        .contact-form_headtext{
            color: black;
            font-weight: 600;
            font-size: 2.5vw;
            margin-bottom: 18px;
            padding-bottom: 20px;
            font-family: var(--font-subheading);
            letter-spacing: 2px;

            @media screen and(max-width: 1180px){
                font-size: 4vw;
                
            }
            @media screen and(max-width: 450px){
                font-size: 8vw;
                font-weight: 600;
                line-height: 45px;
                padding: 50px 0 0 20px;
                
                
            }

        }

        .formBox{
            position: relative;
            width: 100%;

            @media screen and(max-width: 450px) {
                padding: 20px;
                  
              }

            .row50{
                display: flex;
                gap: 20px;
            }
            .inputBox{
                display: flex;
                margin-bottom: 10px;
                flex-direction: column;
                width: 100%;
                padding-top: 20px;

                input, textarea{
                    display: block;
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid green;
                    font-size: 13px;
                    border-radius: 1px;
                    padding: 10px;
                    background: transparent;
                    

                    &:focus{
                        outline: none;
                    }

                    &::placeholder{
                        color: rgba(112, 112, 112, 0.541);
                        font-size: 13px;

                    }
    
                }

                span{
                    color: black;
                    font-size: 16px;
                    font-weight: 600;
                    font-family: var(--font-subheading);
                    letter-spacing: 1px;
                    padding-bottom: 10px;

                }
            }

            .row100{
                width: 100%;
            }
        }

        .social-icons{
            align-items: center;
            justify-content: flex-start;

            @media screen and(max-width: 450px) {
                padding-bottom: 1.5rem; 
            }

            ul{
                @media screen and(max-width: 1200px) {
                
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-direction: row;
                    
                }

                @media screen and(max-width: 450px) {
                  justify-content: center;
                    
                }
            }

            li{
                list-style: none;
                padding: 5px;
                font-size: 16px;
                font-weight: 600;
                

                svg{
                    color: white;

                    &:hover{
                        color: greenyellow;
                    }
                }

                a{
                    padding-left: 20px;
                    color: white;
                    text-decoration: none;
                    font-family: var(--font-subheading);
                    letter-spacing: 3px;
                    font-size: 16px;
                    font-weight: 600;

                    &:hover{
                        color: greenyellow;
                    }

                    @media screen and(max-width: 450px) {
                        font-size: 12px;
                          
                      }
                }
                
            }
            
        }
    }

    .boxes{
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 5fr 4fr;
        grid-template-areas: 
        "form info" 
        "form socail";
        gap: 40px;
        margin-top: 20px;
       
        .form{
            grid-area: form;

               .submit-btn{
                padding-top: 30px;
            }
        }
        .info{
            grid-area: info;
            background: white filter blur(5px);
            box-shadow: 0 5px 35px rgba(0, 104, 40, 0.10);

            li{
                list-style: none;
               

                &:first-child{
                    padding-bottom: 20px;
                }
                &:last-child{
                    padding-bottom: 2rem;
                }

                svg{
                    color: green;

                    &:hover{
                        color: rgb(0, 0, 0);
                    }
                }

                
            }

            .contact-side-bars{
                color: black;
                font-size: 32px;
                font-weight: 600;
                font-family: var(--font-subheading);
                letter-spacing: 2px;
                padding-bottom: 3rem;

                @media screen and(max-width: 1180px) {
                    padding-top: 2.5rem;
                    
                }
                @media screen and(max-width: 450px) {
                    padding-top: 2.5rem;
                    padding-bottom: 15px;
                    
                }
            }

            a{
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 2px;
                line-height: 2rem;
                font-family: var(--font-subheading);
                text-decoration: none;
                color: black;
                padding-left: 20px;

                &:hover{
                    color: green;
                }

                br{
                    padding-left: 20px;
                }

            }

           

            @media screen and(max-width: 1200px) {
                
                text-align: center;
                
            }
        }
        .socail{
            grid-area: socail;
            background: linear-gradient(green, black);  
                
            

            .social_headtext{
                color: white;
                font-size: 32px;
                font-weight: 600;
                font-family: var(--font-subheading);
                letter-spacing: 2px;
                padding-bottom: 3rem;

                @media screen and(max-width: 1180px) {
                    padding-top: 2.5rem;
                                      
                    
                }
                @media screen and(max-width: 450px) {
                    padding-top: 2rem;
                    padding-bottom: 3rem;                    
                    
                }
            }

            @media screen and(max-width: 1200px) {
                
                text-align: center;
                
            }

            @media screen and(max-width: 1180px) {
                padding-bottom: 2rem;
                                  
                
            }
            @media screen and(max-width: 450px) {
                padding-bottom: 5px;
                                  
                
            }

        }

        @media screen and(max-width: 1200px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "form" 
            "info"
            "socail";
            gap: 20px;
            
        }
    }

    


}


