.app__header-section{
    width: 100%;
    align-items: center;


    .hero-text{
        text-align: center;
        top: 50%;
        left: 50%;  
        transform: translateY(50%);

        @media screen and(max-width: 450px) {
            padding-top: 20px;
            
        }
    }
    
    .hero-2{
        font-size: 43px;
        font-weight: bold;
        font-family: var(--font-heading);
        color: white;
        text-transform: capitalize;
        letter-spacing: 7px;
    

        @media screen and(max-width: 1180px) {
        font-size: 60px;
        letter-spacing: 1px;
        
    }
        @media screen and(max-width: 450px) {
        font-size: 40px;
        letter-spacing: 1px;
        
    }

    }

    .hero-3{
        font-size: 20px;
        font-weight: 400;
        font-family: var(--font-primary);
        color: var(--white);
        letter-spacing: 0.25rem;

        @media screen and(max-width: 1180px) {
            font-size: 14px;
            letter-spacing: 2px;
        }
        
    }
    
}