.heading-text{
    font-size: 2.75rem;
    font-weight: 800;
    color: var(--black);
    text-transform: capitalize;
    letter-spacing: 0.50rem;
    font-family: var(--font-primary);
    text-align: center;
   
  
  }

  .p__subtitle{
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-subheading);
    color: black;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 5px;
  }



  

