.app__referral{
    width: 100%;

    .ref-section{
        padding-top: 50px;
        
        .app__orders{
            padding-bottom: 100px;
            padding-top: 100px;
        }

    }

    .app__ref-bgH{
        width: 100%;
        height: 50vh;
        background:
        linear-gradient(rgba(0,0,0,0)0%, rgba(0, 168, 28, 0.5)100%),
        url('../../assets/referral.jpg');  
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10%;

        @media screen and(max-width: 1180px) {
            height: 30vh;          
          }
      }


    .services{
        width: 100%;
        padding-top: 20px;
        background: linear-gradient((green), (black)100%);
        

        h1{
            text-align: center;
            color: white;
            padding-bottom: 1rem;
            padding-top: 5rem;
            font-family: var( --font-heading);
            font-size: 3vw;
            letter-spacing: 3px;
            


            @media screen and(max-width: 1180px) {
                font-size: 7vw;
                
            }
        }

        h3{
            color: black;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: center;
            font-family: var(--font-heading);
        }
        

        .mycard{
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding-left: 60px;
            padding-right: 60px;
            
            
            margin: 50px;

            @media screen and(max-width: 1180px) {
                flex-direction: column;
                padding-left: 15px;
                padding-right: 15px;
                
            }

            .card1{
                background: rgb(236, 255, 238);
                box-shadow: 0 5px 35px rgba(0, 104, 40, 0.10);
                width: 100%;
                margin: 20px;
                border-radius: 10px 10px 10px 10px;

                @media screen and(max-width: 1180px) {
                    margin: 50px;
                    padding: 20px;
                    
                    
                }

               
                
                &:hover{
                    box-shadow: 5px 10px 20px 1px rgba(39, 138, 0, 0.199);
                    
                }

                .img-col{
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 250px;
                        padding: 50px;
                        border-radius: 10px 10px 0 0;

                        @media screen and(max-width: 1180px) {
                            height: 490px;
                            padding: 100px;
                            
                        }
                                                                      
                    }
                }

                .card-h{
                    color: black;
                    font-size: 2vw;
                    font-family: var(--font-heading);
                    text-align: center;
                    padding-bottom: 25px;
                    font-weight: 400;

                    @media screen and(max-width: 1180px) {
                        font-size: 6vw;
                        
                    }
                }

                .card-p{
                    color: rgb(53, 53, 53);
                    font-size: 16px;
                    font-weight: 400;
                    font-family: var(--font-heading);
                    padding: 0 2rem 2.5rem;
                    text-align: center;
                    letter-spacing: 1px;
                    line-height: 23px;

                    
                    @media screen and(max-width: 1180px) {
                        padding-bottom: 4rem;
                        font-size: 19px;
                        line-height: 35px;
                        padding-top: 20px;
                        
                    }
                }
            }
        }
        
    }

}



.btn-ref{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 100px;
}



