.app__testimonials{
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 50px;

    @media screen and(max-width: 1180px ){
      flex-direction: column;
      min-height: auto;
      width: 100%;
     }
   @media screen and(max-width: 850px ){
      flex-direction: column;
      min-height: auto;
      width: 100%;
     }

     .head-text-test{
      
      .title-text{
        color: white !important;
        }

        .title-text-sub{
        color: white;
        line-height: 30px;

    }

      @media screen and(max-width: 1180px ){

        padding-bottom: 20px;
       }
     }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and(min-width: 2000px ){
    padding-top: 50px;
    
    }

  @media screen and(max-width: 850px ){
    padding-top: 30px;
    }

  @media screen and(max-width: 650px ){
   padding-top: 10px;

    }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    

    
    
  
    .testimonialBox{
      position: relative;
      width: 100%;
      padding: 40px;
      padding-top: 40px;
      color: black;

      
          
      .quote{
        position: relative;
        float: right;
        opacity: 0.2;
        svg{
          color: #28a745;
        }
      }

      .content{
        p{
          color: black;
          font-family: var(--font-subheading);
          letter-spacing: 1px;
          font-size: 14px;
          line-height: 20px;
        }
      }
     
        
    
      .details{
        display: flex;
        align-items: center;
        margin-top: 20px;
    
        h3{
          font-size: 15px;
          font-weight: 400;
          letter-spacing: 1px;
          color: rgb(1, 78, 1);
          line-height: 1.1em;
          font-family: var(--font-subheading);
          padding: 15px;
    
          span{
            font-size: 12px;
            color: rgb(0, 0, 0);
          }
    
        }
        
      }

      .imgBox{
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50px;
        overflow: hidden;
        margin-left: 10px;
    
        img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    
    
    }
  }

  .swiper-slide-visible{
      filter: blur(3px);

      &:active{
        background: #28a745;
      }
  }

  .swiper-slide-active{
    filter: blur(0px);

    .swiper-slide{
      background: #ffffff;
    }

    .testimonialBox{
      color: rgb(0, 0, 0);

      .details{
        h3{
          color: green;

          span{
            font-size: 12px;
            color: gray;
          }
        }

        
      }
    }

  }
 

  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right{
    background-image: none;
  }

  @media screen and(min-width: 2000px ){
   width: 100%;
    }

  @media screen and(max-width: 850px ){
    width: 100%;
    margin-top: 10px;
    }

  @media screen and(max-width: 650px ){
    width: 100%;
    

    }
  
}