.app__orders-main{
    width: 100%;
    padding-bottom: 60px;
}

.app__orders{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;


    .orders-img-cont{
        border-radius: 15px;
        overflow: hidden;
    }
    
    

    @media screen and(max-width: 1180px ){
            width: 100%;
            height: auto;
             
    }
    @media screen and(max-width: 450px ){
           padding: 10px;
           padding-bottom: 70px;
    }

    img{
        height: auto;
        width: 452px;
        max-width: 100%;
        border-radius: 15px;
        transform: scale(1);

        

        &:hover{
            transform: scale(1.8);
            transition: 0.5s ease-in-out; 
        }
        
        @media screen and(max-width: 850px ){
            width: max-content;
        }

          @media screen and(max-width: 650px ){
            margin-bottom: 25px;
        }
    }

    .app__orders-text{
        width: 550px;
        max-width: 100%;
        padding: 0 10px;

        @media screen and(max-width: 850px ){
            min-width: 100%;
        }


        h1{
            color: #020202;
            font-size: 34px;
            margin-bottom: 20px;
            text-transform: capitalize;
            font-family: var(--font-heading);

         
            @media screen and(max-width: 850px ){
              padding-top: 80px;
              font-size: 44px;
            }

            @media screen and(max-width: 650px ){
                font-size: 32px;
                padding-top: 20px;
     
             }
        }

        p{
            color: black;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 2px;
            margin-bottom: 3rem;
            font-family: var( --font-subheading);
            font-weight: 400;

            @media screen and(max-width: 850px ){
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 1px;
              }

              
        }

        
    }



    


    @media screen and(max-width: 850px ){
        .reverse{
        flex-direction: row;
    }
    }
    
    @media screen and(max-width: 650px ){
        .reverse{
        flex-direction: row;
    }
    }
}

.reverse{
    flex-direction: row-reverse;
}