.app__delivery-bg{
    background-image:  url("../../../assets/fishbg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }

.app__delivery{
    min-width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;

    .title-text{
        color: white !important;
        line-height: 50px;
        
    }

    .title-text-sub{
        color: white;
        line-height: 30px;
       
        @media screen and(max-width: 450px) {
            padding: 0 25px 0 25px;
            
        }

    }

    .app__delivery-img{
        width: 100%;
        
        img{
            width: 100%;
            height: 70%;
            padding-top: 4rem;
            padding-bottom: 0;
            margin-bottom: 0;

            @media screen and(max-width: 450px) {
                height: 100%;
                
            }
            
        }
    }
    .app__delivery-content{
        width: 100%;
        padding-right: 20px;
        padding-right: 20px;
    }

    
}

