.app__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 2rem;
    background-color:  rgb(0, 0, 0);;
    height: 40px;
    

    img{
           
        height: 30px;
        width: auto;
        opacity: 0.5;

        @media screen and(min-width: 150px) {
            display: none;
            
        }
    }

}

.app__policy-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    @media screen and(min-width: 150px) {
        display: none;
        
    }

    li{
        margin: 0 1rem;
        cursor: pointer;
    }

    a{
        color: rgb(184, 250, 204);
        text-decoration: none;
        text-transform: capitalize;
        font-size: 12px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        font-family: var(--font-subheading);
        letter-spacing: 2px;

        &:hover{
            color: var(--white);
        }
    }
    

}
    
    
