
.App {
  text-align: center;
  min-width: 100%;
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__bg-main{
  background: url('./assets/bg_main.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}


.title-text{
  color: black;
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
  justify-content: center;
  text-align: center;
  font-family: var(--font-heading);
  padding-top: 70px;

  @media screen and(min-width: 2000px ){
    padding-top: 80px;
    font-size: 65px;
    }

  @media screen and(max-width: 850px ){
      font-size: 44px;
      }

  @media screen and(max-width: 650px ){
      font-size: 25px;
      

      }
  }

  .title-text-sub{
      color: green;
      font-size: 16px;
      padding-bottom: 50px;
      text-transform: capitalize;
      letter-spacing: 2.5px;
      font-family: var(--font-subheading);
      text-align: center;
      font-weight: 600;
      justify-content: center;

      @media screen and(max-width: 850px ){
          font-size: 17px;
   
          }

      @media screen and(max-width: 450px ){
          font-size: 16px;
   
          }
      
  }


  button{
    display: block;
    background-color: green;
    border: 2px solid green;
    text-decoration: none;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 0;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    

    &:hover{
        transform: scale(1.1);
        background-color: transparent;
        border: 2px solid green;
        color: green !important;
        transition: .4s;
        cursor: pointer;
    }

    a{
        color: white;
        text-decoration: none;

        &:hover{
          color: green;
      }
      }

    

    @media screen and(max-width: 1180px ){
       width: 100%;
       height: 60px;
       font-weight: 500;
       font-size: 18px;
      }
    @media screen and(max-width: 650px ){
       width: 100%;
       height: 50px;
       font-weight: 500;
       font-size: 16px;
      
      }
    
}


.app__social {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  

  svg{
    color: white;
    cursor: pointer;

    &:hover{
      color: green;
      transform: scale(2);
    }
  }

 
 div {
    width: 30px;
    height: 30px;
    border: 1px solid var(--lightGray-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: rgb(163, 248, 212);
    }

    &:hover {
      border-color: var(--secondary-color);

      svg {
        color: white;
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}


.app__order-content{
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}


.href-mobile{
    
  @media screen and(min-width: 600px ){
      display: none;
  }
}
.href-desktop{
  
  @media screen and(max-width: 600px ){
      display: none;
  }
}

.app__orders{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-bottom: 100px;


  .orders-img-cont{
      border-radius: 15px;
      overflow: hidden;
  }
  
  

  @media screen and(max-width: 1180px ){
          height: auto;
           
  }
  @media screen and(max-width: 450px ){
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  img{
      height: auto;
      width: 452px;
      max-width: 100%;
      border-radius: 15px;
      transform: scale(1);

      

      &:hover{
          transform: scale(1.8);
          transition: 0.5s ease-in-out; 
      }
      
      @media screen and(max-width: 850px ){
          width: max-content;
      }

        @media screen and(max-width: 650px ){
          margin-bottom: 25px;
      }
  }

  .app__orders-text{
      width: 550px;
      max-width: 100%;
      padding: 0 10px;

      @media screen and(max-width: 850px ){
          min-width: 100%;
      }


      .order-headtext{
          color: black;
          font-size: 34px;
          margin-bottom: 20px;
          text-transform: capitalize;
          font-family: var(--font-heading);

       
          @media screen and(max-width: 850px ){
            padding-top: 80px;
            font-size: 44px;
          }

          @media screen and(max-width: 650px ){
              font-size: 32px;
              padding-top: 20px;
   
           }
      }

      .order-head-p{
          color: black;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 1px;
          margin-bottom: 3rem;
          font-family: var( --font-subheading);
          font-weight: 600;
          padding-top: 10px;

          @media screen and(max-width: 850px ){
              font-size: 20px;
              line-height: 30px;
              letter-spacing: 1px;
            }

            
      }

      
  }



  


  @media screen and(max-width: 850px ){
      .reverse{
      flex-direction: row;
  }
  }
  
  @media screen and(max-width: 650px ){
      .reverse{
      flex-direction: row;
  }
  }
}

.Nothing{
  width: 100%;
  min-height: 100vh;
  flex: 1;
  align-content: center;

  .Nothing-here{
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateY(-50%, -50%);
    justify-content: center;
    align-items: center;
    

     .error-404{
      color: rgb(100, 100, 100);
      font-size: 10vw;
      font-family: var(--font-subheading);
      font-weight: 600;
    }
    .error-text{
      font-size: 3vw;
      color: rgb(88, 88, 88);
      font-family: var(--font-subheading);
      font-weight: 400;
      padding-bottom: 4rem;
    }
  }
}

#app__fish-bg{
  background: url('./assets/fishbg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}